<div class="row mr-0 ml-0 ">
  <div class="col mt-5" >

<h1 class="text-danger">  <u>About our college:</u></h1>
<br/>
<br/>
<p  style="text-indent:80px;font-size:25px;margin-bottom:150px">
  <b>
      JNTU (Jawaharlal Nehru Technological University) was originally ‘The College of Engineering, Vizagpatnam’ at the time of its establishment in 1946. It is now a sprawling campus of 110 acres, green with mango trees in the fast developing Port city of Kakinada, East coast of peninsula India.
  </b>
</p>


</div>
</div>