

    <nav class="navbar navbar-expand-sm bg-dark  navbar-dark sticky-top">
      <button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#k">
        <span class="navbar-toggler-icon "> 

        </span>
      </button>
<div class="collapse navbar-collapse" id="k">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href=""> <img class="nav-link" src="assets/k.png" width="90px" height="90px"> </a>
        </li>

        <li class="nav-item">
          <a routerLink="home" class="nav-link text-warning mt-3" style="font-size:25px"> Home </a>
        </li>





        <li class="nav-item dropdown mt-3 " style="font-size:25px;margin-left: 1300px">
          <a class="nav-link dropdown-toggle text-warning" data-toggle="dropdown" href="#drop">Register</a>
          <div class="dropdown-menu  bg-dark" id="#drop">
            <a class="dropdown-item text-warning" style="font-size:20px" routerLink="admin">Admin</a>
            <a class="dropdown-item text-warning" style="font-size:20px" routerLink="student">Student</a>


          </div>

        </li>


        <li class="nav-item">
          <a routerLink="login" class="nav-link text-warning mt-3" style="font-size:25px;margin-left: 20px"> Login </a>
        </li>

        <li class="nav-item">
          <a routerLink="contact" class="nav-link text-warning mt-3" style="font-size:25px;margin-left: 20px">Contact
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="about" class="nav-link text-warning mt-3" style="font-size:25px;margin-left: 20px">About </a>
        </li>

      </ul>

    </div>

    </nav>
 





<div class="row no-gutters">

  <div class="col-9">
    <img style="background-color:orangered" width="100%" height="30px">


    <div id="demo" class="carousel slide" data-ride="carousel">

      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>

      </ul>



      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets\78.jpg" alt="Los Angeles" style="width:100%;height:540px">
        </div>

        <div class="carousel-item">
          <img src="assets\42.jpg" alt="New York" style="width:100%;height:540px">
        </div>

        <div class="carousel-item">
          <img src="assets\i.jpg" alt="New York" style="width:100%;height:540px">
        </div>

        <div class="carousel-item">
            <img src="assets\o.jpg" alt="New York" style="width:100%;height:540px">
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <marquee direction="left" truespeed="30" class="bg-mute mt-0">
      <h5 class="text-danger " style="font-size:40px"> <b>welcome to college notice board</b></h5>

    </marquee>
    <div class="mt-0" style="background-image:url(assets/012.jpeg)">
      <router-outlet></router-outlet>
    </div>

 
  </div>







  <div class="col-3 " >

    <div class="card" style="width: 100%">
      <div class="card-header ">
        <h2 class="text-danger" style="text-align: center">Updates </h2>
      </div>
    </div>
    <div class="jumbotron" style="height:100%; background-color:darkslategrey">

      <marquee direction="down" truespeed="30"  onMouseOver="this.stop()" onMouseOut="this.start()" >
        

        
        <a  style="color: darkorange" href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a  style="color: darkorange" href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a  style="color: darkorange" href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a   style="color: darkorange" href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a  style="color: darkorange" href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a   style="color: darkorange"href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        <a  style="color: darkorange" href="">A scrolling text created with HTML Marquee element</a><br />

        <br />
        <br />

        




    



      </marquee>
    </div>
  </div>


</div>